# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# --- Virtual Environment ---
venv/
venv311/

# --- Jupyter Notebook Checkpoints ---
.ipynb_checkpoints/

# --- Logs ---
logs/

# --- Environment / Config ---
.env
*.env


# --- VS Code ---
.vscode/

# --- OS / Misc ---
.DS_Store
Thumbs.db
